#plateauBataille {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#listeJoueurs {
    display: block;
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: top;
}

#winner {
    width: 300px;
    height: 30px;
    position: absolute;
    color: white;
    text-align: center;
    left: calc(50vw - 150px);
    top: calc(50vh - 15px);
}

#choisie {
    position: absolute;
    right: 10vw;
    bottom: 5vh;
}