.joueurBataille {
    width: 150px;
    height: 200px;
    background: linear-gradient(to bottom, #54787e, #8cdceb, #487579);
    text-align: center;
    margin: 20px;
    align-items: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.labelJB {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.carteJouée {
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
    width: 100%;
}

#listeJoueurs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
