.parameter {
  width: 100%;
  height: 3.3vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.parameter span {
  width: 50%;
  font-size: 1.9vh;

  color: #d9d9d9;
  font-weight: bold;
  text-align: center;
}

.inputDiv {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.inputDiv input {
  width: 60%;
  height: 3vh;
  padding: 1vh;

  background: #d9d9d9;
  color: #1d1d1d;
  text-align: center;
  font-size: 2vh;
  outline: none;
  border: none;
  border-radius: 1vh;
}

.inputDiv button {
  width: 20%;
  height: 3vh;

  background: #3f3f3f;
  color: #d9d9d9;
  border: none;
  border-radius: 1vh;
  font-weight: bold;
  font-size: 2vh;
}

.inputDiv button:hover {
  background: #747474;
}

.inputDiv button:disabled {
  background: #1d1d1d;
  color: #848484;
}
