#root {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rejoindreDiv {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#creerRejoindre {
    margin-bottom: auto ;
    display:flex;
    flex-direction: row;
}
label {
    color: #000000;
    font-size: 2.3em;
    padding: 0px 0px 30px 0px;
    font-weight: bold;
}

#message {
    color: #b00;
    font-size: 1em;
    height: 1em;
    margin: 5px;
}

#rejoindreButton {
    width: 100px;
    height: 40px;
    margin: 5px auto 15px auto;
    color: #fff;
    background: #211735;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#creerButton {
    width: 100px;
    height: 40px;
    margin: 5px auto 15px auto;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.lienInput {
    width: 60%;
    height: 20px;
    background: #e0dede;
    margin: 5px auto 15px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.submitButton {
    width: 60%;
    height: 40px;
    margin: 5px auto 15px auto;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.submitButton:hover {
    background: #6d44b8;
}