#buttonProfil{
    height: 3rem;
    width: 4rem;
    align-items: center;
    background: #573b8a;
    color: #fff;
    position: absolute;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    top: 1rem;
    left: 1rem;
    border-radius: 10px;
    border: none;
}
