#navProfil {
    height: 10vh;
    width: 10vh;
    margin-top: 1vh;

    background: url("../../../public/Assets/FaceCachee.png");
    background-size: 100%;
    color: #000000;
    
    font-weight: bold;
    font-size: 3vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 100vw;
}