#selectionJeuxDiv {
    height: 95vh;
}

#img{
    transition: all 250ms;
}
#droite{
    position: absolute;
    bottom: calc(50vh - 15px);
    right: calc(50vw - 200px);
}

#gauche{
    position: absolute;
    bottom: calc(50vh - 15px);
    left: calc(50vw - 200px);
}


.selectionJeuxButton {
    width: 30px;
    height: 30px;
    font-size: larger;
    text-align: center;
    background-color: #0b082e;
    border: none;
    color: white;
    font-size: 16px;
    padding:4px;
    padding-bottom: 7px;
    margin: 10px;
}
.center {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    right: calc(50vw - 150px);
    top: calc(50vh - 150px);
    opacity: 1;
}

.droite {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    top: calc(50vh - 150px);
    right: calc(40vw - 150px);
}

.gauche {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    top: calc(50vh - 150px);
    right: calc(60vw - 150px);
}
