#plateauBataille {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#listeJoueurs {
    display: block;
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: top;
}

#tapis {
    width: 100vw;
    height: calc(100vh - 470px);

    display: flex;
    justify-content: center;
    align-items:end;
}

.joueurMoi {
    width: 50%;
    height: 180px;
    padding:0;
    position: absolute;
    left: 25%;
    bottom: 0;
    background: linear-gradient(to bottom,  	#9C2542,  	#c5677e,  	#9C2542);
    text-align: center;
    margin: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

#start {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#monNom {
    margin-top: 10px;
    margin-bottom: 10px;
}

#mesCartes {
    height: 120px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
}

.carte:hover {
    border: 1px solid black;
}

#winner {
    width: 300px;
    height: 30px;
    position: absolute;
    color: white;
    text-align: center;
    left: calc(50vw - 150px);
    top: calc(50vh - 15px);
}

#code {
    position: absolute;
    color: white;
    left: 50px;
    bottom: 50px;
}