#plateauSix {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#listeJoueurs {
    width: 85vw;
    height: 20vh;
    margin: 0px auto 0px auto;

    display: flex;
    justify-content: center;
    align-items: top;
}

#tapis {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    width: 45vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ligne {
    display: flex;
    flex-direction: row;
}

.ligne .carte {
    margin-right: 20px;
}

#choisie {
    width: 25vw;
    height: 20vh;
    
    position: absolute;
    right: 0vw;
    bottom: 1vh;

    display: flex;
    align-items: center;
}

#divTimer {
    position: absolute;
    left: 11vw;
    bottom: 23vh;
    transform: translate(-50%, 0%);
    background: #573b8a;
    border-radius: 10px;
    display: flex;

    width: 4vw;
    height: 4vh;
    min-width: 35px;
}

#divTimerOrange {
    position: absolute;
    left: 11vw;
    bottom: 23vh;
    transform: translate(-50%, 0%);
    background: orange;
    border-radius: 10px;
    display: flex;

    width: 4vw;
    height: 4vh;
    min-width: 35px;
}

#divTimerRed {
    position: absolute;
    left: 11vw;
    bottom: 23vh;
    transform: translate(-50%, 0%);
    background: red;
    border-radius: 10px;
    display: flex;

    width: 4vw;
    height: 4vh;
    min-width: 35px;
}

#timer {
    margin-top: 1vh;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 2vh;
    color: #fff;
}